doctype html
html(lang='en')
  head
    title mangui: #{cmd.alias}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/cmdapp.js')
  body
    div
        div Name: #{cmd.name}
        div Synopsis: #{cmd.synopsis}
        div Description: #{cmd.description}
        div Command:
            div
                input#bash(type='text' data-alias=cmd.alias value=cmd.alias readonly)
                button(type='button' onclick='copycmd()') Copy to clipboard
        table(style='width:80%', border='2')
            tr
                td(colspan='2')
                    | Search: 
                    input(type='text')
            tr
                th Option
                th Description
            each opt in cmd.options
                tr
                    td
                        table(border='1')
                            each arg in opt.args
                                tr
                                    td= arg.name
                                    td
                                        if arg.type == 'binary'
                                            input.opt(type='checkbox' data-name=arg.name onchange='onChange()')
                                            
                                        else if arg.type == 'str'
                                            input.opt(type='text' data-name=arg.name onkeyup='onChange()')
                    td= opt.desc
