extends layout

block content
    div
        p Hello!
        button Click Me

    div
        p Name: #{cmd.name}
        p Synposis: #{cmd.synopsis}
        p Description: #{cmd.description}
        each opt in cmd.options
            p Option: #{opt.cmds}, Description: #{opt.desc}
