doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title mangui: #{cmd.alias}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='/javascripts/cmdapp.js')
  body
    .container.col-9
        .row
            p.col.h1.text-center MANGUI
        .row
            .col
                dl.row
                    dt.col-2 Name:
                    dd.col-10(class='text-monospace') #{cmd.name}
                    dt.col-2 Synopsis:
                    dd.col-10(class='text-monospace') #{cmd.synopsis}
                    dt.col-2 Description:
                    dd.col-10(class='text-monospace') #{cmd.description}
        .row
            .col
                .row
                    input.col#bash(type='text' class='text-monospace' data-alias=cmd.alias value=cmd.alias readonly)
                    button.col-1(class='btn btn-sm btn-block btn-primary' type='button' onclick='copycmd()')
                        span.copytoclip
                .row
                    textarea.col#output(class='text-monospace' readonly)
        .row
            .col
                .row
                    p.col.h2.text-center Arguments
                .row
                    input.col(type='text' placeholder='Arguments...')
        .row
            .col
                .row
                    p.col.h2.text-center Options
                .row.mb-1
                    input.col#search(type='text' placeholder='Search...' onkeyup='search(this)')
                .row
                    table.col(class='table table-bordered table-striped table-hover')
                        thead.thead-dark
                            tr
                            tr
                                th(scope=col) Option
                                th(scope=col) Description
                        tbody
                            each opt in cmd.options
                                tr.opt
                                    td
                                        each arg in opt.args
                                            if arg.type == 'binary'
                                                span(class='btn-group-toggle mr-1' data-toggle='buttons')
                                                    label(class='btn btn-secondary')
                                                        .srch(class='text-monospace')= arg.name
                                                        input.choice(type='checkbox' data-name=arg.name onchange='onChange()')
                                            else if arg.type == 'str'
                                                span(class='btn-group')
                                                    label(class='btn btn-secondary')
                                                        .srch(class='text-monospace')= arg.name
                                                        input.choice(type='text' data-name=arg.name onkeyup='onChange()')
                                    td
                                        p.srch(class='text-justify text-monospace')= opt.desc
