doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title mangui: #{cmd.alias}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='/javascripts/cmdapp.js')
  body
    .container.col-9
        .row
            p.col.h1.text-center MANGUI
        .row
            .col
                .row
                    p.col-2 Name:
                    .col #{cmd.name}
                .row
                    .col-2 Synopsis:
                    .col #{cmd.synopsis}
                .row
                    .col-2 Description:
                    .col #{cmd.description}
        .row
            .col
                .row
                    input.col#bash(type='text' data-alias=cmd.alias value=cmd.alias readonly)
                    button.col-1(class='btn btn-primary' type='button' onclick='copycmd()')
                        span.copytoclip
                .row
                    textarea.col#output(readonly)
        .row
            .col
                .row.col.h2 Arguments
                .row
                    input.col(type='text' placeholder='Arguments...')
        .row
            .col
                .row.col.h2 Options
                .row
                    table(class='table table-bordered table-striped table-hover')
                        thead
                            tr
                                td(colspan='2')
                                    input#search(type='text' placeholder='Search...' onkeyup='search(this)')
                            tr
                                th(scope=col) Option
                                th(scope=col) Description
                        tbody
                            each opt in cmd.options
                                tr.opt
                                    td
                                        table(class='table table-bordered table-sm')
                                            each arg in opt.args
                                                tr
                                                    td.srch= arg.name
                                                    td
                                                        if arg.type == 'binary'
                                                            input.choice(type='checkbox' data-name=arg.name onchange='onChange()')
                                                            
                                                        else if arg.type == 'str'
                                                            input.choice(type='text' data-name=arg.name onkeyup='onChange()')
                                    td.srch= opt.desc
