doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title mangui: #{cmd.alias}
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='/javascripts/cmdapp.js')
  body
    .container.col-10
        .row
            p.col.h1.text-center MANGUI
        .row.bg-light.rounded.text-dark
            .col
                dl.row
                    dt.col-2 Name:
                    dd.col-10(class='text-monospace') #{cmd.name}
                    dt.col-2 Synopsis:
                    dd.col-10(class='text-monospace') #{cmd.synopsis}
                    dt.col-2 Description:
                    dd.col-10(class='text-monospace') #{cmd.description}
        form#cmdform
            .row.mb-3.p-3.bg-secondary.border.rounded
                .col
                    .row
                        .col
                            .form-inline.form-group.justify-content-center
                                button.svgbtn(class='btn btn-primary p-0' type='button' onclick='resetForm()')
                                    include icons/reset.svg
                                input#bash(type='text' class='text-monospace form-control flex-grow-1' data-alias=cmd.alias placeholder=cmd.synopsis[0] readonly)
                                input#args(type='text' class='form-control' placeholder='Arguments...' onkeyup='onChange()')
                                button.svgbtn(class='btn btn-primary p-0' type='button' onclick='copyCmd()')
                                    include icons/copytoclipboard.svg
                    .row
                        textarea.col.terminal#output(class='text-monospace rounded' rows=8 readonly)
            .row.bg-light.rounded
                .col
                    .row
                        p.col.h2.text-center Options
                    .row.mb-1
                        input.col#search(type='text' class='form-control' placeholder='Search options below...' onkeyup='searchOpt(this)')
                    .row
                        table.col(class='table table-bordered table-striped table-hover')
                            thead.thead-dark
                                tr
                                tr
                                    th(scope=col) Option
                                    th(scope=col) Description
                            tbody
                                each opt in cmd.options
                                    tr.opt
                                        td
                                            each arg in opt.args
                                                if arg.type == 'binary'
                                                    span(class='btn-group-toggle form-check form-check-inline mr-1' data-toggle='buttons')
                                                        label.choice-lbl(class='btn btn-secondary form-check-label')
                                                            .srch(class='text-monospace')= arg.name
                                                            input.choice(type='checkbox' class='form-check-input' data-name=arg.name onchange='onChange()')
                                                else if arg.type == 'str'
                                                    span(class='btn-group form-check form-check-inline')
                                                        label(class='btn btn-secondary')
                                                            .srch(class='text-monospace')= arg.name
                                                            input.choice(type='text' class='form-control form-control-sm' data-name=arg.name onkeyup='onChange()')
                                        td
                                            .srch(class='text-justify text-monospace')= opt.desc
